.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button-primary {
  background-color: #ff0055;
  color: white;
}

.button-secondary {
  background-color: white;
  color: #333;
  border: 0.5px solid #ccc; /* before: 2px */
}

.button-gray {
  background-color: #f9f9f9;
  color: #333;
  border: none;
}

.button-black {
  background-color: black;
  color: white;
  max-width: 500px;
  border: none;
}

.button-icon {
  margin-right: 8px;
  display: flex;
}
