.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: "no-repeat";
  color: white;
}

.home-page-content {
  padding: 20px;
  margin-top: 60px;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.home-page-content h1 {
  margin-bottom: 100px;
}

.highlight {
  color: #ff0055;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.options-tile {
  position: relative;
  /* Allows absolute positioning inside */
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  /* Align the text to the left */
}

.options-tile {
  position: relative;
  /* Needed for absolute positioning inside */
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  /* Align the text to the left */
}

.notification-badge {
  position: absolute;
  top: -10px;
  /* Slightly outside the top */
  right: -10px;
  /* Slightly outside the right */
  background-color: red;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}
