.invite-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.invite-container h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.invite-container p {
  font-size: 1em;
  color: #555;
}

.share-section {
  margin-top: 20px;
}

.share-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center; 
}
/* Ensure the input takes full width */
.share-input input {
  padding: 10px;
  font-size: 1em;
  width: 80%;
}
/* Copy Link button */
.share-input button {
  margin-top: 20px;
  padding: 10px;
  font-size: 1em;
  width: 100px;
  cursor: pointer;
}

.link-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9em;
  background-color: #f1f1f1;
  color: #333;
}

.share-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.share-icons img {
  margin-top:20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
}

/* set size for dhare icon */
.share-icon {
  margin: 20px 0;
  width: 80px;
  height: 80px;
  align-self: center;
}
