.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 91%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.navbar-profile {
  /* display: flex;
    align-items: center; */
  position: relative;
}

.navbar-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.logout-button {
  position: absolute;
  top: 50px; /* Abstand vom Profilbild */
  right: 0;
  background-color: #ff0055;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e0004d;
}
